.cardGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  place-items: center;
}

.card {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  width: 12.5rem;
  padding: 0.5rem 0.5rem 0 0.5rem;
  position: relative;
}

.img {
  border-radius: 20%;
  max-width: 100%;
  height: 70%;
  object-fit: cover;
  z-index: -1;
}

.favButton {
  top: 0.938rem;
  right: 2.188rem;
  border: none;
  cursor: pointer;
  background-color: transparent;
  z-index: 1;
  position: absolute;
}

.card a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
