.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

form {
    background-color: rgb(222, 170, 170);
    border-radius: 10%;
    box-shadow: 0.313rem 0.313rem 0.625 rgb(29, 29, 29);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1.25rem;
    padding: 2.813rem;
}

form input:focus,
textarea:focus{
  outline: 0.125rem solid rgb(107, 212, 177);
  border: none;
}


form input, textarea {
    border: 0.063rem solid rgba(0, 0, 0, .1);
    border-radius: 0.313rem;
    width: 100%;
}

input{
    margin-top: 0.625rem;
    height: 1.25rem;
    margin-bottom: 1.25rem;
}

textarea{
    grid-column: 1/3; 
    height: 200%;
}


form>button{
    background-color: rgb(255, 255, 255);
    width: 5.625rem;
    transition: .2s all ease-in-out;
    border: none;
    padding: 0.313rem;
    margin-top: 15%;
    margin-left: 40%;
    margin-right: 40%;
    grid-column: 1/3;
    border-radius: 5px;
}

form>button:hover{
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
}