.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.containerDetail {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.containerDetail>button {
    margin: 0 10%;
}

.containerDetail>img {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
    height: 25rem;
    width: 21.875rem;
    z-index: 1;
    box-shadow: 0.313rem 0.313rem 0.625rem rgb(29, 29, 29);
}

.containerText {
    border-top: 0.094rem solid rgb(229, 228, 228);
    border-right: 0.094rem solid rgb(229, 228, 228);
    border-bottom: 0.094rem solid rgb(229, 228, 228);
    height: 20.75rem;
    width: 26rem;
    background-color: rgb(246, 246, 246);
    padding-left: 0.938rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0.313rem 0.313rem 0.625rem rgb(29, 29, 29);

}

.container>button {
    background-color: rgb(255, 255, 255);
    width: 5.625rem;
    transition: .2s all ease-in-out;
    border: 0.063rem solid ;
    padding: 0.313rem;
    border-radius: 0.313rem;
}

.container>button:hover {
    background-color: rgba(0, 0, 0);
    color: rgb(255, 255, 255);
}