nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0.313rem 0.313rem rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: rgb(192, 191, 191);
    padding: 0.625rem;
    height: 3rem;
}

nav>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
}

nav>div>a, nav>a {
    color: rgba(0, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

nav>div>a:hover {
    color: rgb(136, 136, 136);
}

nav button {
    background: none;
    border: none;
}